.home {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 1.4rem;
  min-height: 100vh;
  background-color: var(--color-grey-light-4);
  position: relative;

  &__header {
    padding: 1.6rem;
    font-size: 2rem;
    background-color: var(--color-primary);
    color: var(--color-grey-light-2);
    font-weight: bold;
    text-align: center;
    box-shadow: var(--shadow-light);
    width: 100%;
    position: fixed;
    top: 0rem;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__about-description {
    align-self: center;
    background-color: var(--color-grey-light-2);
    width: 40rem;
    padding: 2.4rem;
    margin: 9.6rem 0rem 2.4rem 0rem;
    border-radius: 0.4rem;
    box-shadow: var(--shadow-light);
    border-left: 0.8rem solid var(--color-secondary);
    font-size: 1.6rem;
    line-height: 1.5;
    @media (min-width: 1030px) {
      width: 50rem;
    }
    @media (max-width: 450px) {
      width: 30rem;
    }
  }
}

footer {
  margin-top: 2.4rem;
  font-size: 1.2rem;
  .home__copyright {
    text-align: center;
    padding: 2.4rem 0rem;
    color: var(--color-grey-dark-3);
    position: relative;
    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 0rem;
      left: 0rem;
      right: 0rem;
      height: 0.2rem;
      z-index: 10;
      background-image: linear-gradient(
        to right,
        var(--color-grey-dark-3),
        var(--color-primary-dark),
        var(--color-primary),
        var(--color-primary-light),
        var(--color-secondary-light),
        var(--color-secondary),
        var(--color-grey-dark-3)
      );
    }
  }
}
