/* Colors used where from open color(https://yeun.github.io/open-color) 
and converted into hsl from https://convertacolor.com */

/*
  FONT SIZE SYSTEM(px)
  10 /  12 / 14 / 16 / 18 / 20 / 24 / 24 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
  SPACING SYSTEM(px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-primary: hsl(161.9, 82.2%, 39.6%);
  --color-primary-light: hsl(161.7, 72.4%, 64.5%);
  --color-primary-dark: hsl(161.8, 88.1%, 26.5%);
  --color-secondary: hsl(229.7, 57.3%, 49.6%);
  --color-secondary-light: hsl(228.1, 95.8%, 72.2%);

  --color-grey-light-1: hsl(210, 16.7%, 97.6%);
  --color-grey-light-2: hsl(210, 16.7%, 95.3%);
  --color-grey-light-3: hsl(210, 13.8%, 88.6%);
  --color-grey-light-4: hsl(210, 14%, 83.1%);

  --color-grey-dark-1: hsl(210, 10.8%, 71%);
  --color-grey-dark-2: hsl(210, 7.1%, 55.7%);
  --color-grey-dark-3: hsl(210, 10.3%, 22.7%);
  --color-grey-dark-4: hsl(210, 10.8%, 14.5%);

  --shadow-dark: 0rem 0rem 0.2rem 0.2rem hsla(0, 0%, 0%, 0.15);
  --shadow-light: 0.2rem 0.4rem 0.6rem 0.2rem hsla(0, 0%, 0%, 0.08);
}

body {
  font-weight: 400;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-grey-light-2);
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

// .pages {
//   // width: 100%;
//   // height: auto;
//   // background-color: violet;
// }

/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
